brave_product_name = Brave
brave_project_name = brave
brave_services_key = qjVKcxtUybh8WpKNoQ7EbgbkJTMu7omjDHKk=VrPApb8PwJyPE9eqchxedTsMEWg
safebrowsing_api_endpoint=safebrowsing.brave.com
updater_prod_endpoint=https://go-updater.brave.com/extensions
updater_dev_endpoint=https://go-updater-dev.bravesoftware.com/extensions
google_default_client_id=19711890837-es790fn3q8cfmetppgstv579993ds3rm.apps.googleusercontent.com
google_default_client_secret=4cNTgD0Ub4z_5IljwJw6NYBN
sccache=sccache
notary_user=pranjal@brave.com
notary_password=lfrl-spqz-bqrb-hsnh
notary_asc_provider=PVNDH8GA5R
